p{
    color:indigo;
    background: green;
    font-family: cursive;
}

h2 {
    color: coral;
    font-family: monospace;
}
#descri {
color: indigo;
background: lawngreen;
font-family: fantasy;
}
#preco {
    color: red;
    background: black;
    font-family: serif;
}
#uni {
    color: blue;
    background:mediumorchid;
    font-family: cursive;
}