p{
    color: cyan;
    background-color: red;
}

h2{
    color: blueviolet;
}
.undest{
    margin: 15px 10px 5px solid;
    color: blueviolet;
    background: brown;
}
.lista{
    background: chartreuse;
}